extends ../shared/template

block content
  .container
    .row.clearfix
        each project in projects
          .col-md-3.column.project
            a.projectlink(href='#{project.app}')
              img.projectimage(src='img/#{project.photos}')
            dl
              a.btn.codelink(href='#{project.git}', type='button') #{project.title} Code
              dd= project.description

            .container
              .row.clearfix
                  .col-md-12.column
                    nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role='navigation')
                      .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        a.navbar-brand(href='/') Home
                      #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        ul.nav.navbar-nav
                          li
                            a(href='/about') About
                          li
                            a(href='/faq') FAQ
                          li
                            a(href='/contact') Contact
                          li
                            a(href='/resume') Resume
                          li.active
                            a(href='/portfolio') Portfolio
                        if(user)
                          ul.nav.navbar-nav.navbar-right
                            if(user)
                              li
                                a(href='/logout')= user.email
                              li
                                a(href='/portfolio/new') New Project
                        if(!user)
                          ul.nav.navbar-nav.navbar-right
                            li
                              a(href='/login') Login
